@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-group:not(:last-child) {
  /* 外位置 */
  margin-bottom: 0.4rem;
}

fieldset {
  margin-bottom: 0.8rem;
}

legend {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.form-label {
  padding: 0.3rem 0;
  font-size: 0.8rem;
  display: block;
  line-height: 1.2rem;
}

.form-label.label-sm {
  padding: 0.1rem 0;
  font-size: 0.7rem;
}

.form-label.label-lg {
  padding: 0.4rem 0;
  font-size: 0.9rem;
}

.form-input {
  /* 清零 */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  /* 面 */
  background: #fff;
  background-image: none;
  height: 1.8rem;
  max-width: 100%;
  width: 100%;
  padding: 0.25rem 0.4rem;
  /* 线 */
  outline: none;
  border: 0.05rem solid #bcc3ce;
  border-radius: 0.1rem;
  color: #3b4351;
  font-size: 0.8rem;
  /* 交互 */
  -webkit-transition: background .2s, border .2s, color .2s, -webkit-box-shadow .2s;
  transition: background .2s, border .2s, color .2s, -webkit-box-shadow .2s;
  transition: background .2s, border .2s, box-shadow .2s, color .2s;
  transition: background .2s, border .2s, box-shadow .2s, color .2s, -webkit-box-shadow .2s;
  /* 外位置 */
  display: block;
  position: relative;
  /* 内位置 */
  line-height: 1.2rem;
}

.form-input:focus {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(87, 85, 217, 0.2);
          box-shadow: 0 0 0 0.1rem rgba(87, 85, 217, 0.2);
  border-color: #5755d9;
}

.form-input::-webkit-input-placeholder {
  color: #bcc3ce;
}

.form-input:-ms-input-placeholder {
  color: #bcc3ce;
}

.form-input::-ms-input-placeholder {
  color: #bcc3ce;
}

.form-input::placeholder {
  color: #bcc3ce;
}

.form-input.input-sm {
  height: 1.4rem;
  padding: 0.05rem 0.3rem;
  font-size: 0.7rem;
}

.form-input.input-lg {
  height: 2rem;
  padding: 0.35rem 0.6rem;
  font-size: 0.9rem;
}

.form-input.input-inline {
  /* 面 */
  width: auto;
  /* 外位置 */
  display: inline-block;
  vertical-align: middle;
}

.form-input[type="file"] {
  height: auto;
}

textarea.form-input, textarea.form-input.input-lg, textarea.form-input.input-sm {
  height: auto;
}

.form-select {
  /* 清零 */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  /* 面 */
  background: #fff;
  height: 1.8rem;
  padding: 0.25rem 0.4rem;
  width: 100%;
  /* 线 */
  outline: none;
  border: 0.05rem solid #bcc3ce;
  border-radius: 0.1rem;
  color: inherit;
  font-size: 0.8rem;
  /* 外位置 */
  vertical-align: middle;
  /* 内位置 */
  line-height: 1.2rem;
}

.form-select:focus {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(87, 85, 217, 0.2);
          box-shadow: 0 0 0 0.1rem rgba(87, 85, 217, 0.2);
  border-color: #5755d9;
}

.form-select::-ms-expand {
  display: none;
}

.form-select.select-sm {
  /* 面 */
  height: 1.4rem;
  padding: 0.05rem 1.1rem 0.05rem 0.3rem;
  /* 线 */
  font-size: 0.7rem;
}

.form-select.select-lg {
  /* 面 */
  height: 2rem;
  padding: 0.35rem 1.4rem 0.35rem 0.6rem;
  /* 线 */
  font-size: 0.9rem;
}

.form-select.select-inline {
  /* 面 */
  width: auto;
  /* 外位置 */
  display: inline-block;
  vertical-align: middle;
}

.form-select[size], .form-select[multiple] {
  /* 面 */
  height: auto;
  padding: 0.25rem 0.4rem;
}

.form-select[size] option, .form-select[multiple] option {
  padding: 0.1rem 0.2rem;
}

.form-select:not([multiple]):not([size]) {
  /* 面 */
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'%3E%3Cpath%20fill='%23667189'%20d='M2%200L0%202h4zm0%205L0%203h4z'/%3E%3C/svg%3E") no-repeat right 0.35rem center/0.4rem 0.5rem;
  padding-right: 1.2rem;
}

.form-checkbox,
.form-radio,
.form-switch {
  /* 面 */
  min-height: 1.4rem;
  padding: 0.1rem 0.4rem 0.1rem 1.2rem;
  /* 外位置 */
  display: block;
  margin: 0.2rem 0;
  /* 内位置 */
  position: relative;
  line-height: 1.2rem;
}

.form-checkbox input,
.form-radio input,
.form-switch input {
  /* 清零 */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.form-checkbox input:focus + .form-icon,
.form-radio input:focus + .form-icon,
.form-switch input:focus + .form-icon {
  /* 线 */
  -webkit-box-shadow: 0 0 0 0.1rem rgba(87, 85, 217, 0.2);
          box-shadow: 0 0 0 0.1rem rgba(87, 85, 217, 0.2);
}

.form-checkbox input:active + .form-icon,
.form-radio input:active + .form-icon,
.form-switch input:active + .form-icon {
  /* 面 */
  background: #eef0f3;
}

.form-checkbox input:checked + .form-icon,
.form-radio input:checked + .form-icon,
.form-switch input:checked + .form-icon {
  /* 面 */
  background: #5755d9;
  /* 线 */
  border-color: #5755d9;
}

.form-checkbox .form-icon,
.form-radio .form-icon {
  /* 面 */
  background: #fff;
  height: 0.8rem;
  width: 0.8rem;
  /* 线 */
  border: 0.05rem solid #bcc3ce;
  /* 交互 */
  cursor: pointer;
  -webkit-transition: background .2s, border .2s, color .2s, -webkit-box-shadow .2s;
  transition: background .2s, border .2s, color .2s, -webkit-box-shadow .2s;
  transition: background .2s, border .2s, box-shadow .2s, color .2s;
  transition: background .2s, border .2s, box-shadow .2s, color .2s, -webkit-box-shadow .2s;
  /* 外位置 */
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0.3rem;
}

.form-switch {
  /* 面 */
  padding-left: 2rem;
}

.form-switch .form-icon {
  /* 面 */
  background: #bcc3ce;
  background-clip: padding-box;
  height: 0.9rem;
  width: 1.6rem;
  /* 线 */
  border: 0.05rem solid #bcc3ce;
  border-radius: 0.45rem;
  /* 交互 */
  cursor: pointer;
  -webkit-transition: background .2s, border .2s, color .2s, -webkit-box-shadow .2s;
  transition: background .2s, border .2s, color .2s, -webkit-box-shadow .2s;
  transition: background .2s, border .2s, box-shadow .2s, color .2s;
  transition: background .2s, border .2s, box-shadow .2s, color .2s, -webkit-box-shadow .2s;
  /* 外位置 */
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0.25rem;
}

.form-switch .form-icon::before {
  /* 面 */
  background: #fff;
  height: 0.8rem;
  width: 0.8rem;
  /* 线 */
  border-radius: 50%;
  content: '';
  /* 交互 */
  -webkit-transition: background .2s, border .2s, color .2s, left .2s, -webkit-box-shadow .2s;
  transition: background .2s, border .2s, color .2s, left .2s, -webkit-box-shadow .2s;
  transition: background .2s, border .2s, box-shadow .2s, color .2s, left .2s;
  transition: background .2s, border .2s, box-shadow .2s, color .2s, left .2s, -webkit-box-shadow .2s;
  /* 外位置 */
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.form-switch input:checked + .form-icon::before {
  left: 14px;
}

.form-switch input:active + .form-icon::before {
  background: #f7f8f9;
}

.form-radio .form-icon {
  border-radius: 50%;
}

.form-radio input:checked + .form-icon::before {
  /* 面 */
  background: #fff;
  height: 6px;
  width: 6px;
  /* 线 */
  border-radius: 50%;
  content: "";
  /* 外位置 */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form-checkbox .form-icon {
  border-radius: 0.1rem;
}

.form-checkbox input:checked + .form-icon::before {
  /* 面 */
  background-clip: padding-box;
  height: 9px;
  width: 6px;
  /* 线 */
  border: 0.1rem solid #fff;
  border-left-width: 0;
  border-top-width: 0;
  content: '';
  /* 外位置 */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -3px;
  margin-top: -6px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.jjj {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid red;
  height: 22px;
  width: 22px;
}
/*# sourceMappingURL=jjjForm.css.map */